
h1{
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 700
}

body {
  background-color: yellow;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logo-header {
  position: relative;
  top: -14px;
  left: 10px;
}

tr.spaceUnder>td {
  padding-bottom: 2em;
}

tr.spaceAbove>td {
  padding-bottom: 2em;
}

body {
  background-color: yellow;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}
